{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "esnext",
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
